img{
	display: inline-flex;

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.fullBoard{
	display: flex;
	width: 865px;
	height: 450px;
	flex-direction: column;
}
p{
	font-size: large;
	font-weight: bold; 
}
.dateRow{
	display: flex;
	border-collapse: collapse;
	flex-direction: row;
	align-items: flex-start;
	border: 1px solid black;
	padding: 0;
}

.newParticipantRow{
    display: flex;
    border-collapse: collapse;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 0;

    background-color: lightblue;
}
.ParticipantRow{
    display: flex;
    border-collapse: collapse;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 0;
	height: 45px;
    background-color: lightblue;
    width: 865px;
}
.confirmedParticipantRow{
    display: flex;
    border-collapse: collapse;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 0;

}

.firstBox{

	min-width: 217px;
    flex-direction: row;

}

.dateBox{
	border: 1px solid black;
	text-align: center;
    width: 72px;
}

.confirmedParticipantImage{

	border: 2px solid blue;
	width: 72px;
}

.checkBox{

	align-items: center;
	width: 72px;
	height: 57px;
}
.checkImage{
	width:72px;
	height:57px;
}
.choiceBox{

    background-color: Bisque;
	align-items: center;
	border-collapse: collapse;
	border: 1px solid grey;
	width: 70px;
	height: 45px;
}
.confirmedBox{

	flex-direction: row;
	align-items: center;
	width: 72px;	
	border: 1px solid black;
}
.tickImage{

	width:72px;
	height:45px;

}
