img{
	display: inline-flex;

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.fullBoard{
	display: flex;
	width: 865px;
	height: 450px;
	flex-direction: column;
	border: 1px solid grey;
	border-collapse: collapse;
}
.pen{
	float: left;
	position: absolute;
	left: 20%;

}
.dateRow{
	display: flex;
	border-collapse: collapse;
	flex-direction: row;
	align-items: flex-start;
	border: 1px solid grey;
	padding: 0;
}

.newParticipantRow{
    display: flex;
    border-collapse: collapse;
    flex-direction: row;
    align-items: center;
    border: 1px solid grey;
    padding: 0;

    background-color: lightblue;
}
.ParticipantRow{
    display: flex;
    border-collapse: collapse;
    flex-direction: row;
    align-items: center;
    border: 1px solid grey;
    padding: 0;
	height: 45px;
    width: 865px;
}
.confirmedParticipantRow{
    display: flex;
    border-collapse: collapse;
    flex-direction: row;
    align-items: center;
    border: 1px solid grey;
    padding: 0;

}

.firstBox{

	min-width: 217px;
    flex-direction: row;

}

.dateBox{
	border-collapse: collapse;
	border: 1px solid grey;
	text-align: center;
    width: 72px;
}


.checkBox{
	border-collapse: collapse;
	border: 1px solid grey;
	align-items: center;
	width: 70px;
	height: 57px;
}
.checkImage{
	width:72px;
	height:57px;
}
.choiceBox{

    background-color: Bisque;
	align-items: center;
	border-collapse: collapse;
	border: 1px solid grey;
	width: 70px;
	height: 45px;
}
.confirmedBox{
	border-collapse: collapse;
	flex-direction: row;
	align-items: center;
	width: 72px;	
	border: 1px solid grey;
}
.tickImage{

	width:72px;
	height:45px;

}
